.search-container{
    background-color: #1d1a1ae3;
    line-height: 60px;
    text-align: center;
}
.search-container input{
    width: 75%;
    padding: 5px;
}
.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    margin-right: 5px;
    margin-left: 20%;
    border-right: 1px solid lightgray;
}